<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>$(PROJECTNAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(PROJECTNAME)</string>
	<key>CFBundleGetInfoHTML</key>
	<string>Ai-&gt;Canvas Export Plug-In 1.5, Copyright 2010-2020 Mike Swanson. All rights reserved.</string>
	<key>CFBundleGetInfoString</key>
	<string>Ai-&gt;Canvas Export Plug-In 1.5, Copyright 2010-2020 Mike Swanson. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PROJECTNAME)</string>
	<key>CFBundlePackageType</key>
	<string>ARPI</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>ART5</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSRequiresCarbon</key>
	<true/>
</dict>
</plist>
